<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>W4D1</title>
</head>

<body>
<a href="/add">Add Cookie</a>
<table border="1">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <% for (key in cookies) { %>
    <tr>
        <td>
            <%= key %>
        </td>
        <td>
            <%= cookies[key] %>
        </td>
        <% } %>
    </tr>
    </tbody>
</table>
<br>
</body>

</html>