.row1 {
    text-align: center;
    background: darkgray;
    text-decoration: underline;
    color: darkolivegreen;
    height: 5vh;
    width: 100%;
    margin-bottom: 1vh;
}
.description {
    border-bottom: 2px solid black;
}
.description {
    text-align: left;
}
.top_header{
    margin-bottom: 200px;
}
.unlist ul{
    list-style: none;
    padding-left:0;
}
.header {
    text-align: left;
    background: darkgray;
    text-decoration: underline;
    color: darkolivegreen;
    height: 5vh;
    width: 100%;
}
.user_comment {
    margin-left: 20vh;
    margin-right: 20vh;
    background: goldenrod;
}
.comment {
    border-bottom: 20px solid white;
}
footer {
    height: 7vh;
    background: slategray;
}

.validate {
    text-align: end;
}

.copyright {
    text-align: center;
}
.pie_img{
    padding-top: 20vh;
}
body, html {
    width: 1024px;
    height: 768px;
}

html {
    background: url('../../../staticfiles/W1D2recipe/images/silverware.png') repeat center center fixed;
}

ul { list-style-image: url('../../../staticfiles/W1D2recipe/images/favicon.png'); }

span.strike{text-decoration: line-through}
pre{
    text-align: end;
}