* {
    box-sizing: border-box;
}

img {
    border-radius: 50%;
}

.row1 {
    height: 40vh;
    width: 100%;
    background-color: slategray;
    text-align: center;
}

.row #list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}

li {
    background: aliceblue;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 0.2rem;
    padding: 1rem 1rem 0rem 3rem;
}

a {
    text-decoration: none;
}

nav {
    white-space: nowrap;
    background: aquamarine;
}

body {
    background: aquamarine;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
body, html {

    margin-left: 10px;
}

footer {
    height: 7vh;
    background: slategray;
}

.validate {
    text-align: end;
}

.copyright {
    text-align: center;
}

.row3 {
    border-top: 3px solid white;
}

.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 50vh;
    border-left: 3px solid white;
    border-right: 3px solid white;
}