<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>W3D6</title>
</head>
<body>
<form method='POST'>

    <input name='key'>

    <input type='submit'>

</form>
</body>
</html>