#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "someArea textArea textArea"
                       "someArea hereArea thereArea";
}

#page > some {
    grid-area: someArea;
    background-color: #999999;
}

#page > text {
    grid-area: textArea;
    background-color: #9d9d9d;
}

#page > here {
    grid-area: hereArea;
    background-color: #2F4F4F;
}

#page > there {
    grid-area: thereArea;
    background-color: #bbbbbb;
}