/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*.grid-container{*/
/*    grid-template-areas: "head" "col" "foot";*/
/*}*/
/*.grid-container > div {*/
/*    text-align: center;*/
/*    padding: 0;*/
/*    font-size: 30px;*/
/*}*/
/*.menu{*/
/*    text-align: center;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    color: gray;*/
/*}*/
/*.column{*/
/*    grid-area: col;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.menu-item{*/
/*    padding-top: 3vh;*/
/*    font-size: 18px;*/
/*    color:white;*/
/*    height: 10vh;*/
/*    width: 7%;*/
/*    border-right: 1px solid black;*/
/*}*/

/*.column-item1{*/
/*    padding-top: 130px;*/
/*    height: 55vh;*/
/*    width: 25%;*/
/*    background-color: rgb(170, 170, 170);*/
/*}*/
/*.column-item2{*/
/*    padding-top: 130px;*/
/*    height: 55vh;*/
/*    width: 50%;*/
/*    background-color: rgb(187, 187, 187);*/
/*}*/
/*.column-item3{*/
/*    padding-top: 130px;*/
/*    height: 55vh;*/
/*    width: 25%;*/
/*    background-color: rgb(204, 204, 204);*/
/*}*/
/*.header{*/
/*    padding-top: 7vh;*/
/*    font-size: 30pt;*/
/*    font-width: bold;*/
/*}*/
/*.header-box{*/
/*    grid-area: head;*/
/*    background-color: rgb(173, 216, 230);*/
/*    height: 20vh;*/
/*}*/
/*.menu-bar{*/
/*    grid-area: men;*/
/*    text-align: center;*/
/*    height: 10vh;*/
/*    background-color: rgb(47, 79, 79);*/
/*}*/
/*.footer{*/
/*    padding-top: 5vh;*/
/*    color:white;*/
/*}*/
/*.footer-bar{*/
/*    grid-area: foot;*/
/*    text-align: center;*/
/*    height: 15vh;*/
/*    background-color: rgb(47, 79, 79);*/
/*}*/

/*p#recent.awesome { color: chocolate; }*/
/*aside { color: gray; }*/
/*p { color: green; }*/
/*em { color: yellow; }*/
/*.awesome { color: blue; }*/
/*em.awesome { color: red; }*/
/*#recent { color: black; }*/
/*#recent { color: goldenrod; }*/
/*aside#recent.awesome { color: orange; }*/

/*ul > li { background-color: blue; }*/
/*li strong { color: red; }*/
/*li > strong { color: green; }*/
/*#ad li.line strong { text-decoration: underline; }*/

/*.div1 {*/
/*    width: 300px;*/
/*    height: 100px;*/
/*    border: 1px solid blue;*/
/*    box-sizing: content-box;*/
/*}*/
/*.div2 {*/
/*    width: 300px;*/
/*    height: 100px;*/
/*    padding: 50px;*/
/*    border: 1px solid red;*/
/*    box-sizing: border-box;*/
/*}*/
/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: 200px 150px;*/
/*    grid-gap: 5px;*/
/*    max-width: 400px;*/
/*}*/
/*.label {*/
/*    padding-top: 7px;*/
/*}*/

div {
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
}
#a {
    position: relative;
    top: 100px;
    height: 40px;
}
#b {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 200px;
}
#c {
    position: fixed;
    bottom: 50px;
    left: 50px;
}
