body {
    font-size: 8pt;
    font-family: Verdana Tahoma sans-serif;
    background: url("../../../staticfiles/W1D3tmnt/images/background.png");
}
.top-header {
    text-align: center;
    background: url("../../../staticfiles/W1D3tmnt/images/bannerbg.png") repeat-x;
}
.top-title {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

.middle-box {
    width: 800px;
    margin:auto;
    border:4px solid gray;
    border-radius: 20px;
    overflow: hidden;
}
#right{
    float: right;
    width: 250px;
}
#left{
    float: left;
    width: 550px;
}

.left-header{
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 48pt;
    color: red;
    background: url("../../../staticfiles/W1D3tmnt/images/rbg.png")
}
#right {
    background: #A2B964;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}
#right dl {
    padding: 10pt;
    margin: 0;
}
#right dt {
    font-weight: bold;
    margin-top: 10pt;
}

#right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.review {
    width: 240px;
    font-size: 8pt;
    margin-bottom: 20pt;
}
.left-left{
    float: left;
    margin-left: 15px;
}
.left-right{
    float: right;
    margin-right: 15px;
}
.review >p:first-child {
    font-weight: bold;
    padding: 8px;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    min-height: 25px;
}
.review >p:first-child > img {
    float: left;
    margin: 0 5px 5px 0;
}

.review >p:last-child > img {
    float: left;
    margin-right: 5px;
}
.reviewer-pub {
    font-style: italic;
}
#footer {
    clear: both;
    height: 20px;
    background:#A2B964;
    text-align: center;
}
.validation{
    position: fixed;
    opacity: 50%;
    bottom: 0;
    right: 0;
}

