* {
    box-sizing: border-box;
}

img {
    border-radius: 50%;
}

.row1 {
    height: 40vh;
    width: 100%;
    background-color: slategray;
    text-align: center;
}

.row #list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}

li {
    background: aliceblue;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 0.2rem;
    padding: 1rem 1rem 0rem 1rem;
}

a {
    text-decoration: none;
}
body, html {
    margin-left: 10px;
}
nav {
    white-space: nowrap;
    background: #A2B964;
}

body {
    background: #A2B964;
}

.column1 {
    display: flex;
    flex-font: column wrap;
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
    border-right: 3px solid white;
}
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding-top: 2px;
    width: 100%;
    height: 7vh;
    background: slategray;
}

.validate {
    text-align: end;
}

.copyright {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .column1 {width: 500px; float: left;}
    .column2 {margin-left: 10px;}
}

/*var CUSTOM =*/
/*" ,---,              \n" +*/
/*",--.' |      ,--,    \n" +*/
/*"|  |  :    ,--.'|    \n" +*/
/*":  :  :    |  |,     \n" +*/
/*":  |  |,--.`--'_     \n" +*/
/*"|  :  '   |,' ,'|    \n" +*/
/*"|  |   /' :'  | |    \n" +*/
/*"'  :  | | ||  | :    \n" +*/
/*"|  |  ' | :'  : |__  \n" +*/
/*"|  :  :_:,'|  | '.'| \n" +*/
/*"|  | ,'    ;  :    ; \n" +*/
/*"`--''      |  ,   /  \n" +*/
/*"            ---`-'   \n" +*/
/*"=====\n" +*/
/*"                                                                                             \n" +*/
/*"  ,---,                           ,-.                            ,---,                 ,--,    \n" +*/
/*",--.' |      ,--,             ,--/ /|                          ,--.' |               ,--.'|    \n" +*/
/*"|  |  :    ,--.'|           ,--. :/ |          ,--,            |  |  :               |  | :    \n" +*/
/*":  :  :    |  |,            :  : ' /         ,'_ /|   .--.--.  :  :  :               :  : '    \n" +*/
/*":  |  |,--.`--'_            |  '  /     .--. |  | :  /  /    ' :  |  |,--.  ,--.--.  |  ' |    \n" +*/
/*"|  :  '   |,' ,'|           '  |  :   ,'_ /| :  . | |  :  /`./ |  :  '   | /       \\ '  | |    \n" +*/
/*"|  |   /' :'  | |           |  |   \\  |  ' | |  . . |  :  ;_   |  |   /' :.--.  .-. ||  | :    \n" +*/
/*"'  :  | | ||  | :           '  : |. \\ |  | ' |  | |  \\  \\    `.'  :  | | | \\__\\/: . .'  : |__  \n" +*/
/*"|  |  ' | :'  : |__         |  | ' \\ \\:  | : ;  ; |   `----.   \\  |  ' | : ,\" .--.; ||  | '.'| \n" +*/
/*"|  :  :_:,'|  | '.'|        '  : |--' '  :  `--'   \\ /  /`--'  /  :  :_:,'/  /  ,.  |;  :    ; \n" +*/
/*"|  | ,'    ;  :    ;        ;  |,'    :  ,      .-./'--'.     /|  | ,'   ;  :   .'   \\  ,   /  \n" +*/
/*"`--''      |  ,   /         '--'       `--`----'      `--'---' `--''     |  ,     .-./---`-'   \n" +*/
/*"            ---`-'                                                        `--`---'             \n";*/
